#TextEntry{
	width: 50%;
}
#PageEntry{
	width: 40%;
}
#KanjiEntry{
	width: 30%;
}
form {
	margin: 0;
	padding: 0;
}
table, th, td{
	border:1px solid #333;
	border-collapse: collapse
}
th{
	background-color: lightgray;
}
#Sakuin td:nth-child(1), #Sakuin th:nth-child(1) {
	text-align: center;
}
.subscript {
	font-size: 70%;
}
.footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: lightgray;
	text-align: center;
}
